/* line 1, app/assets/stylesheets/custom.css.scss */
.user-name {
  padding: 0 !important;
  padding-left: 5px;
  padding-top: 15px !important;
  text-align: center;
}

/* line 7, app/assets/stylesheets/custom.css.scss */
.user-name a {
  color: black !important;
  margin: 0 !important;
  padding: 5px !important;
}

/* line 12, app/assets/stylesheets/custom.css.scss */
.user-name a:hover, .user-name a:focus {
  color: #000 !important;
}

/* line 17, app/assets/stylesheets/custom.css.scss */
.logout {
  padding-left: 0;
}

/* line 21, app/assets/stylesheets/custom.css.scss */
.nav.navbar-right {
  padding-bottom: 10px;
  padding-top: 5px;
}

/* line 27, app/assets/stylesheets/custom.css.scss */
.nav.navbar-nav .navbar-link {
  border-radius: 5px;
  color: #fff;
  margin-top: 15px;
  padding: 8px;
}

/* line 33, app/assets/stylesheets/custom.css.scss */
.nav.navbar-nav .navbar-link:focus, .nav.navbar-nav .navbar-link:hover {
  background: #3071a9;
  color: #fff;
}

/* line 37, app/assets/stylesheets/custom.css.scss */
.nav.navbar-nav li a {
  margin-right: 5px;
}

/* line 43, app/assets/stylesheets/custom.css.scss */
.nav.navbar-right li .btn {
  color: #fff !important;
  margin-top: 5%;
}

/* line 47, app/assets/stylesheets/custom.css.scss */
.nav.navbar-right li .btn-danger:hover, .nav.navbar-right li .btn-danger:focus {
  background-color: #a02622 !important;
}

/* line 50, app/assets/stylesheets/custom.css.scss */
.nav.navbar-right li .btn-primary:hover, .nav.navbar-right li .btn-primary:focus {
  background-color: #245682 !important;
}

/* line 55, app/assets/stylesheets/custom.css.scss */
.btn-primary:visited, .btn-danger:visited {
  color: #fff;
}

/* line 60, app/assets/stylesheets/custom.css.scss */
.features ul {
  margin-left: 0;
  padding-left: 15px;
}

/* line 66, app/assets/stylesheets/custom.css.scss */
.jumbotron {
  text-align: center;
  background-image: url(/assets/meeting-936105a30dc617c4cf426c45013eb2d786500b08903ea7a18c7c6b76d8fd574a.png);
  background-size: cover;
  color: #fff;
  font-family: 'Helvetica Neue' !important;
  font-stretch: expanded;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
  /*
    h2 {
      font-size: 35px !important;
      .lead {
        font-family: 'Helvetica Neue' !important;
        font-size: 30px !important;
      }
    } */
}

/* line 88, app/assets/stylesheets/custom.css.scss */
.no-left-padding {
  padding-left: 0 !important;
}

/* line 92, app/assets/stylesheets/custom.css.scss */
.listing {
  list-style: none;
  padding-left: 0;
}
